.houseForm {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: auto;
	align-content: center;
}
.houseForm > * {
	width: 100%;
}

.example-container {
	display: flex;
	flex-direction: column;
}
.example-container > * {
	width: 100%;
}

.example-card {
	max-width: 400px;
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
	flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
	justify-content: space-between;
	align-items: center;
}

mat-form-field {
	margin-right: 12px;
	display: contents;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
}

.basic-container {
	padding: 30px;
}

.version-info {
	font-size: 8pt;
	float: right;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 100%;
}
.example-button-row button,
.example-button-row a {
	margin-right: 8px;
}

td {
	padding-right: 8px;
}

.example-radio-group {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}


.mat-radio-button {
	margin: 0 2px;
}
.example-radio-group {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
}

.example-radio-button {
	margin: 2px;
}
.example-button-row button,
.example-button-row a {
	margin-right: 8px;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active {
	background: #0abb87;
}

.mat-form-field-hide-placeholder .mat-select-placeholder {
	color: red;
	-webkit-text-fill-color: purple;
}
