<kt-portlet style="padding-left:80px; padding-right:80px">
	<label>Kayıtlı kullanıcılar: </label>
	<kt-portlet-body [class]="'kt-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-sm">
			<div class="col-sm-12">
				<mat-list>
					<mat-list-item>
						<div class="col-sm-11">beste</div>
						<div class="col-sm-1"><mat-icon>delete_forever</mat-icon></div>
					</mat-list-item>
					<mat-list-item>
						<div class="col-sm-11">beste</div>
						<div class="col-sm-1"><mat-icon>delete_forever</mat-icon></div>
					</mat-list-item>
					<mat-list-item>
						<div class="col-sm-11">beste</div>
						<div class="col-sm-1"><mat-icon>delete_forever</mat-icon></div>
					</mat-list-item>
					<mat-list-item>
						<div class="col-sm-11">beste</div>
						<div class="col-sm-1"><mat-icon>delete_forever</mat-icon></div>
					</mat-list-item>
					<mat-list-item>
						<div class="col-sm-11">beste</div>
						<div class="col-sm-1"><mat-icon>delete_forever</mat-icon></div>
					</mat-list-item>
				</mat-list>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
