<div style="margin: 40px">
<mat-card>
	<label style="margin: 15px"><h3>Personel Oluştur</h3></label>
		<form [formGroup]="userCreate" (submit)="userSave()">
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Ad" formControlName="name" name="name">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Soyad" formControlName="surname" name="surname">
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<span matPrefix>+90 &nbsp;</span>
				<input matInput placeholder="Telefon Numarası" type="number" maxlength="10" formControlName="cellPhone"
					   name="cellPhone">
			</mat-form-field>
			<mat-form-field style="margin-right:65px">
				<input required matInput placeholder="Email giriniz" formControlName="email" required>
				<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
			<mat-form-field style="margin-right:65px">
				<input required matInput formControlName="password" placeholder="Şifre oluştur"
					   [type]="hide ? 'password' : 'text'">
				<button mat-icon-button matSuffix (click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			<mat-form-field>
				<mat-select formControlName="authority" matNativeControl required
							placeholder="Kullanıcı yetkisi seçiniz">
					<mat-option value="Form oluştur">Form oluştur</mat-option>
					<mat-option value="Denetleme yap">Denetleme yap</mat-option>
					<mat-option value="Denetleme yap ve Form oluştur">Denetleme yap ve form oluştur
					</mat-option>
					<mat-option value="Herşeyi yap">Herşeyi yap</mat-option>
				</mat-select>
			</mat-form-field>
			<div style="float: right; margin-top: 15px">
				<button type="submit" mat-button style="background: #4EAF47; margin-right: 3px; color: #ffffff;" class="form-control">Kaydet
				</button>
			</div>
		</form>
</mat-card>
</div>
<!--
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
-->
