<div align="center" style="margin-top: 15px">
	<h2 mat-dialog-title>SDK Formu Bilgilendirme</h2>
</div>
<div style="margin: 20px">
	<mat-dialog-content class="mat-typography">
		Vakfınıza, <br> - Sosyal yardım ve proje destek programlarından faydalanmak, <br> - Genel Sağlık Sigoratsı uugulaması kapsamında gelir tespiti yaptırmak,
			<br> - 2022 sayılı kanun uyarında verilen aylıklardan faydalanmak, <br> - İhtiyaç duyduğumda diğer sosyal hizmet ve kamu hizmetlerine yönlendirilmek ve takibinin
			yapılmasını sağlamak. <br> ... <br> Bu formdaki bilgilerimin doğruluğunu beyan ediyor ve gerçek durumumu yansıtmayan yanlış, hatalı ve eksik beyanımdan dolayı
			ortaya çıkabilecek zarara ilişkin sorumluluğumu ve idarenin yaptırımlarını kabul ediyorum.
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close>Cancel</button>
	</mat-dialog-actions>
</div>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
