<!--<mat-card>
	<form [formGroup]="userCreate" (submit)="userSave()">
	<mat-form-field class="example-full-width">
			<input matInput placeholder="Kullanıcı Adı" formControlName="name" name="name">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input matInput placeholder="Kullanıcı Soyadı" formControlName="surname" name="surname">
		</mat-form-field>
		<mat-form-field>
			<input required matInput placeholder="Kullanıcı maili giriniz" formControlName="email" required>
			<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input required matInput formControlName="password" placeholder="Kullanıcı şifresi oluştur"
				   [type]="hide ? 'password' : 'text'">
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
		</mat-form-field>
		<mat-form-field>
			<mat-select formControlName="authority" matNativeControl required placeholder="Kullanıcı yetkisi seçiniz">
				<mat-option value="Form oluştur">Form oluştur</mat-option>
				<mat-option value="Denetleme yap">Denetleme yap</mat-option>
				<mat-option value="Denetleme yap ve Form oluştur">Denetleme yap ve Form oluştur</mat-option>
				<mat-option value="Herşeyi yap">Herşeyi yap</mat-option>
			</mat-select>
		</mat-form-field>
		<div style="float: right; margin-top: 15px">
			<button type="submit" style="background: #4EAF47; color: #ffffff;" class="form-control">Kaydet</button>
		</div>
	</form>
</mat-card>-->
<!--<form [formGroup]="form">
			<div *ngIf="form.controls.published.value">

				<kt-portlet>
					<kt-portlet-body [class]="'kt-portlet__body--fit'">
						<div class="row row-no-padding row-col-separator-sm">
							<div class="col-sm-4"></div>
							<div class="col-sm-4">
								<div style="margin-top: 15px; margin-bottom:15px">
									<button style="background: #4EAF47; color: #ffffff;" class="form-control" (click)="addCreds()">Kullanıcı ekle</button>
								</div>
							</div>
							<div class="col-sm-4"></div>
							<div class="col-sm-12">
								<div formArrayName="credentials" *ngFor="let creds of form.controls.credentials?.value; let i = index">
									<mat-expansion-panel style="margin: 15px">
										<mat-expansion-panel-header>
											<mat-panel-title>{{i + 1}}. Kullanıcı Bilgileri</mat-panel-title>
										</mat-expansion-panel-header>
										<form [formGroup]="userCreate" (submit)="userSave()">
											<table class="example-full-width">
												<tr>
													<td>
														<mat-form-field class="example-full-width">
															<input matInput placeholder="Kullanıcı Adı" formControlName="name" name="name">
														</mat-form-field>
													</td>
													<td>
														<mat-form-field class="example-full-width">
															<input matInput placeholder="Kullanıcı Soyadı" formControlName="surname" name="surname">
														</mat-form-field>
													</td>
													<td>
														<mat-form-field class="example-full-width">
															<input matInput placeholder="Telefon Numarası" formControlName="cellPhone" name="cellPhone">
														</mat-form-field>
													</td>
												</tr>
												<tr>
													<td>
														<mat-form-field>
															<input required matInput placeholder="Kullanıcı maili giriniz" formControlName="email" required>
															<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
														</mat-form-field>
													</td>
													<td>
														<mat-form-field>
															<input required matInput formControlName="password" placeholder="Kullanıcı şifresi oluştur"
																   [type]="hide ? 'password' : 'text'">
															<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
																	[attr.aria-pressed]="hide">
																<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
															</button>
														</mat-form-field>
													</td>
													<td>
														<mat-form-field>
															<mat-select formControlName="authority" matNativeControl required placeholder="Kullanıcı yetkisi seçiniz">
																<mat-option value="Form oluştur">Form oluştur</mat-option>
																<mat-option value="Denetleme yap">Denetleme yap</mat-option>
																<mat-option value="Denetleme yap ve Form oluştur">Denetleme yap ve Form oluştur</mat-option>
																<mat-option value="Herşeyi yap">Herşeyi yap</mat-option>
															</mat-select>
														</mat-form-field>
													</td>
												</tr>
											</table>
											<div style="float: right; margin-top: 15px">
												<button type="submit" style="background: #4EAF47; color: #ffffff;" class="form-control">Kaydet</button>
											</div>
										</form>
									</mat-expansion-panel>
								</div>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>

			</div>
		</form>-->
<!--<div style="padding-left:80px; padding-right:80px; margin-top: 20px">
<form [formGroup]="userCreate" (submit)="userSave()">
	<mat-card >
	<table class="example-full-width">
		<tr>
			<td>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Ad" formControlName="name" name="name">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Soyad" formControlName="surname" name="surname">
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Telefon Numarası" formControlName="cellPhone" name="cellPhone">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<input required matInput placeholder="Email giriniz" formControlName="email" required>
					<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<mat-form-field>
					<input required matInput formControlName="password" placeholder="Şifre oluştur"
						   [type]="hide ? 'password' : 'text'">
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<mat-select formControlName="authority" matNativeControl required placeholder="Kullanıcı yetkisi seçiniz">
						<mat-option value="Form oluştur">Form oluştur</mat-option>
						<mat-option value="Denetleme yap">Denetleme yap</mat-option>
						<mat-option value="Denetleme yap ve Form oluştur">Denetleme yap ve Form oluştur</mat-option>
						<mat-option value="Herşeyi yap">Herşeyi yap</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
		</tr>
	</table>
</mat-card>
	<div style="float: right; margin-top: 15px">
		<button type="submit" style="background: #4EAF47; color: #ffffff;" class="form-control">Kaydet</button>
	</div>
</form>
</div>-->

<div style="padding-left:80px; padding-right:80px; margin-top: 20px">
	<mat-card>
		<div class="row row-no-padding row-col-separator-sm">
			<div class="col-sm-3" style="margin-top:10px"><h3>Personel Listesi</h3></div>
			<div class="col-sm-6">
			</div>
			<div class="col-sm-3">
				<button style="background: #4EAF47; color: #ffffff;" mat-button (click)="openDialog()" class="form-control">
					<mat-icon>add</mat-icon> Personel Ekle
				</button>
			</div>
		</div>
	</mat-card>
</div>

<div style="padding-left:80px; padding-right:80px; margin-top: 15px">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>   AD    </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>
	<ng-container matColumnDef="surname">
		<th mat-header-cell *matHeaderCellDef>  SOYAD  </th>
		<td mat-cell *matCellDef="let element"> {{element.surname}} </td>
	</ng-container>
	<ng-container matColumnDef="phone">
		<th mat-header-cell *matHeaderCellDef> TELEFON </th>
		<td mat-cell *matCellDef="let element"> {{element.phone}} </td>
	</ng-container>
	<ng-container matColumnDef="email">
		<th mat-header-cell *matHeaderCellDef>  EMAİL  </th>
		<td mat-cell *matCellDef="let element"> {{element.email}} </td>
	</ng-container>
	<ng-container matColumnDef="authority">
		<th mat-header-cell *matHeaderCellDef>  YETKİ  </th>
		<td mat-cell *matCellDef="let element"> {{element.authority}} </td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
